pandas==2.2.2
numpy==1.26.4
openai==1.52.0
transformers==4.45.2
langchain==0.3.14
langchain-openai==0.2.9
langchain-community==0.3.14
fastapi==0.115.5
uvicorn==0.30.6
pydantic==2.9.2
python-dotenv==1.0.1
pypdf==5.0.1
orjson==3.10.7
tenacity==9.0.0