# Core libraries for data processing and manipulation
pandas==2.1.1
numpy==1.26.0

# Libraries for working with LLMs and NLP
openai==0.28.0
transformers==4.35.0
langchain==0.0.300

# Libraries for text preprocessing and analysis
nltk==3.9.0
spacy==3.7.0
scikit-learn==1.4.0


fastapi==0.103.0
uvicorn==0.24.0
pydantic==2.12.5
